.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
}

main {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    padding-top: 81px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.header__logo {
  padding: 16px 0 15px 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0 25px 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0 24px 0;
    margin-right: 93px;
  }
}

.header__logo--color {
  color: #212121;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--color {
  color: #ffffff;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.main-btn {
  background-color: #2196f3;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
}

.main-btn__text {
  margin-right: 10px;
}

.main-btn__icon {
  fill: currentColor;
}

.section-title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .cardset-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .cardset-one__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cardset-one__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cardset-one__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.cardset-one__icon-box {
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardset-one__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.cardset-one__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .cardset-one__title {
    text-align: center;
  }
}

.cardset-one__description {
  line-height: calc(24 / 14);
  color: #757575;
}

.cardset-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.cardset-two__card {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
  position: relative;
}

.cardset-two__title {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .cardset-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.cardset-three__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .cardset-three__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cardset-three__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cardset-three__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.cardset-three__box {
  padding: 30px 30px 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .cardset-three__box {
    padding: 30px 32px;
  }
}

.cardset-three__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.cardset-three__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .cardset-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .cardset-four__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cardset-four__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cardset-four__card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.cardset-four__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardset-four__link:hover, .cardset-four__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardset-four__thumb {
  position: relative;
  overflow: hidden;
}

.cardset-four__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: #ffffff;
}

.cardset-four__link:hover .cardset-four__overlay,
.cardset-four__link:focus .cardset-four__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cardset-four__text-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cardset-four__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.cardset-four__description {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}

.iconset-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconset-one__item:not(:last-child) {
  margin-right: 10px;
}

.iconset-one__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.iconset-one__icon {
  display: block;
}

.iconset-one__link--bright-bg {
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconset-one__link--bright-bg:hover, .iconset-one__link--bright-bg:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.iconset-one__icon--bright-bg {
  fill: currentColor;
}

.iconset-one__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconset-one__link--dark-bg:hover, .iconset-one__link--dark-bg:focus {
  background-color: #2196f3;
}

.iconset-one__icon--dark-bg {
  fill: currentColor;
}

.iconset-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.iconset-two__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .iconset-two__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .iconset-two__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .iconset-two__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.iconset-two__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconset-two__link:hover, .iconset-two__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.iconset-two__icon {
  display: block;
  fill: currentColor;
}

.portfolio__filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__filter {
    margin-top: -15px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn--active, .filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

@media screen and (max-height: 610px) {
  .modal {
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  color: #2196f3;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: calc(23 / 20);
  }
}

.modal-form__label,
.modal-form__text,
.modal-form__input,
.modal-form__icon,
.modal-form__commentary-label,
.modal-form__commentary {
  cursor: pointer;
}

.modal-form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form__text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__commentary-label {
  display: block;
  margin-bottom: 20px;
}

.modal-form__commentary {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__commentary::-webkit-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__commentary:-ms-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__commentary::-ms-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__commentary::placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__commentary:focus {
  border: 1px solid #2196f3;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-form__commentary {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.modal-form__policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-label {
    margin-bottom: 30px;
  }
}

.modal-form__custom-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  background-color: #ffffff;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  border-color: #2196f3;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-form__policy-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal-form__policylabel-link {
  color: #2196f3;
}

.modal-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 95;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-right: auto;
  }
}

.links-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .links-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.links-list__item:not(:last-child) {
  margin-right: 50px;
}

.links-list__link {
  padding: 32px 0 32px 0;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list__link:hover, .links-list__link:focus {
  color: #2196f3;
}

.active-link {
  color: #2196f3;
  position: relative;
}

.active-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts-list__link {
    padding: 5px 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding: 32px 0;
  }
}

.contacts-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts-list__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon {
    margin-right: 10px;
  }
}

.contacts-list__icon--email {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon--email {
    width: 16px;
    height: 12px;
  }
}

.contacts-list__icon--smartphone {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.mob-menu-btn {
  background-color: #ffffff;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn:hover, .mob-menu-btn:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu-btn__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mob-menu__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .mob-menu__box {
    width: 480px;
  }
}

.mob-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu__nav {
  margin-bottom: 32px;
}

.mob-menu__link-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link--active, .mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196f3;
}

.mob-menu__contacts-list {
  margin-bottom: 64px;
}

.mob-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mob-link {
  font-size: 34px;
  line-height: calc(40 / 34);
  color: #2196f3;
}

.email-link {
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:hover, .email-link:focus {
  color: #2196f3;
}

.mob-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}

.mob-menu__social-item {
  margin: 10px 0 0 10px;
  padding-right: 10px;
}

.mob-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 449px) and (max-width: 449px) {
  .mob-menu__social-item:nth-child(3) {
    border-right: 1px solid transparent;
  }
}

@media screen and (max-width: 448px) {
  .mob-menu__social-item:nth-child(3) {
    border: none;
  }
}

@media screen and (max-width: 357px) {
  .mob-menu__social-item:nth-child(3) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mob-menu__social-item:nth-child(2) {
    border: none;
  }
}

.mob-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero__container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/480/hero-bg-img-480@x1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/480/hero-bg-img-480@x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 118px 15px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/480/hero-bg-img-480@x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/480/hero-bg-img-480@x2.jpg);
  }
}

@media screen and (min-width: 576px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/768/hero-bg-img-768@x1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/768/hero-bg-img-768@x1.jpg);
  }
}

@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/768/hero-bg-img-768@x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/768/hero-bg-img-768@x2.jpg);
  }
}

@media screen and (min-width: 992px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/1200/hero-bg-img-1200@x1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/1200/hero-bg-img-1200@x1.jpg);
  }
}

@media screen and (min-width: 992px) and (min-device-pixel-ratio: 2), screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 992px) and (min-resolution: 192dpi), screen and (min-width: 992px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/1200/hero-bg-img-1200@x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/1200/hero-bg-img-1200@x2.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero__container {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 15px;
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 696px;
  }
}

.services-section {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .services-section {
    display: block;
  }
}

.team-section {
  background-color: #f5f4fa;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer__address-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-box {
    margin-right: 85px;
  }
}

.address {
  font-style: normal;
}

.address__location {
  margin-bottom: 8px;
  line-height: calc(24 / 14);
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address__location {
    margin-bottom: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__social-box {
    margin-right: 93px;
  }
}

.footer__sub-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__form-box {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__submit-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding: 0 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */