.cardset-one {
    @include min768 {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.cardset-one__card {
    @include max767 {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include min768 {
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
    }
    @include min1200 {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.cardset-one__icon-box {
    margin-bottom: 30px;
    height: 120px;
    background-color: $bgSecondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardset-one__icon {
    display: block;
    width: 70px;
    height: 70px;
}

.cardset-one__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
    @include max767 {
        text-align: center;
    }
}

.cardset-one__description {
    line-height: calc(24 / 14);
    color: $textSecondaryColor;
}
