.cardset-four {
    @include min768 {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.cardset-four__card {
    @include max767 {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include min768 {
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
    }
    @include min1200 {
        flex-basis: calc(100% / 3 - 30px);
    }
}

.cardset-four__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow $mainTransition;
    &:hover,
    &:focus {
        box-shadow: $portfolioCardShadow;
    }
}

.cardset-four__thumb {
    position: relative;
    overflow: hidden;
}

.cardset-four__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: $overlayCardColor;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(101%);
    transition: transform $mainTransition;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: $btnPrimaryTextColor;
    .cardset-four__link:hover &,
    .cardset-four__link:focus & {
        transform: translateY(0);
    }
}

.cardset-four__text-box {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.cardset-four__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: $textPrimaryColor;
}

.cardset-four__description {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: $textSecondaryColor;
}
