.footer {
    background-color: $footerBgColor;
    padding: 60px 0;
}

.footer__container {
    @include min768 {
        display: flex;
        align-items: baseline;
    }
    @include max1199 {
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.footer__address-box {
    @include max767 {
        margin-bottom: 60px;
    }
    @include min1200 {
        margin-right: 85px;
    }
}

.address {
    font-style: normal;
}

.address__location {
    margin-bottom: 8px;
    line-height: calc(24 / 14);
    color: $footerPrimaryTextColor;
    @include min1200 {
        margin-bottom: 9px;
    }
}

.address__item:not(:last-child) {
    margin-bottom: 8px;
    @include min1200 {
        margin-bottom: 9px;
    }
}

.address__link {
    line-height: calc(24 / 14);
    color: $footerSecondaryTextColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.footer__social-box {
    @include min1200 {
        margin-right: 93px;
    }
}

.footer__sub-title {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: $footerPrimaryTextColor;
    margin-bottom: 20px;
}

.footer__form-box {
    @include max1199 {
        margin-top: 60px;
    }
}

.footer__submit-box {
    @include min1200 {
        display: flex;
        align-items: center;
    }
}

.footer__input {
    display: block;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: $mainBtnShadow;
    margin-bottom: 20px;
    padding: 0 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: $footerPrimaryTextColor;
    transition: border $mainTransition;
    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: $footerSecondaryTextColor;
    }
    &:focus {
        outline: none;
        border: 1px solid $footerPrimaryTextColor;
    }
    @include min480 {
        width: 450px;
    }
    @include min1200 {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}
