.header {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 95;
    width: 100%;
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    @include max767 {
        justify-content: space-between;
    }
}

.header__nav {
    @include min768 {
        margin-right: auto;
    }
}

.links-list {
    display: none;
    @include min768 {
        display: flex;
        align-items: center;
    }
}

.links-list__item:not(:last-child) {
    margin-right: 50px;
}

.links-list__link {
    padding: 32px 0 32px 0;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $textPrimaryColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.active-link {
    color: $accentColor;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;
        bottom: -1px;
    }
}

.contacts-list {
    display: none;
    @include min768 {
        display: block;
    }
    @include min1200 {
        display: flex;
        align-items: center;
    }
}

.contacts-list__item:not(:last-child) {
    @include min1200 {
        margin-right: 30px;
    }
}

.contacts-list__link {
    display: flex;
    align-items: center;
    @include min768 {
        padding: 5px 0;
    }
    @include min1200 {
        padding: 32px 0;
    }
}

.contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $textSecondaryColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
    @include min1200 {
        font-size: 14px;
        line-height: calc(16 / 14);
    }
}

.contacts-list__icon {
    margin-right: 8px;
    fill: currentColor;

    @include min1200 {
        margin-right: 10px;
    }
}

.contacts-list__icon--email {
    width: 14px;
    height: 10px;
    @include min1200 {
        width: 16px;
        height: 12px;
    }
}

.contacts-list__icon--smartphone {
    width: 10px;
    height: 14px;
    @include min1200 {
        width: 10px;
        height: 16px;
    }
}

.mob-menu-btn {
    background-color: $bgPrimaryColor;
    color: $btnSecondaryTextColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
    @include min768 {
        display: none;
    }
}

.mob-menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: currentColor;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $bgPrimaryColor;
    transform: translateY(-100%);
    transition: transform $mainTransition;
    @include min768 {
        display: none;
    }
    &.is-open {
        transform: translateY(0);
    }
}

.mob-menu__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    @include min480 {
        width: 480px;
    }
}

.mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.mob-menu__nav {
    margin-bottom: 32px;
}

.mob-menu__link-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: $textPrimaryColor;
    transition: color $mainTransition;
    &--active,
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.mob-menu__contacts-list {
    margin-bottom: 64px;
}

.mob-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__contacts-link {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.mob-link {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: $accentColor;
}

.email-link {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: $textSecondaryColor;
    transition: color $mainTransition;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.mob-menu__social-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}

.mob-menu__social-item {
    margin: 10px 0 0 10px;
    padding-right: 10px;
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    @media screen and (min-width: 449px) and (max-width: 449px) {
        &:nth-child(3) {
            border-right: 1px solid transparent;
        }
    }
    @media screen and (max-width: 448px) {
        &:nth-child(3) {
            border: none;
        }
    }
    @media screen and (max-width: 357px) {
        &:nth-child(3) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
        &:nth-child(2) {
            border: none;
        }
    }
}

.mob-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: $accentColor;
}
